span.Hyperlink {
    color: #0000FF;
    font-family: 'Verdana', 'sans-serif';
    font-size: 11pt;
    text-decoration: underline;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0
}
ul.List0 {
counter-reset: section01;
--prefix-size: 40px;
--prefix-gap: 4px;
--list-indent: 40px;
--prefix-fixed-size: false;
list-style:none;
padding-left: var(--prefix-size);
margin-left: calc(var(--list-indent) - var(--prefix-size))
}
ol.List1 {
counter-reset: section11;
--prefix-size: 40px;
--prefix-gap: 4px;
--list-indent: 40px;
--prefix-fixed-size: false;
list-style:none;
padding-left: var(--prefix-size);
margin-left: calc(var(--list-indent) - var(--prefix-size))
}
ul.List12 {
counter-reset: section121;
--prefix-size: 40px;
--prefix-gap: 4px;
--list-indent: 40px;
--prefix-fixed-size: false;
list-style:none;
padding-left: var(--prefix-size);
margin-left: calc(var(--list-indent) - var(--prefix-size))
}
ul.List13 {
counter-reset: section131;
--prefix-size: 40px;
--prefix-gap: 4px;
--list-indent: 40px;
--prefix-fixed-size: false;
list-style:none;
padding-left: var(--prefix-size);
margin-left: calc(var(--list-indent) - var(--prefix-size))
}
ul.List8 {
counter-reset: section81;
--prefix-size: 40px;
--prefix-gap: 4px;
--list-indent: 40px;
--prefix-fixed-size: false;
list-style:none;
padding-left: var(--prefix-size);
margin-left: calc(var(--list-indent) - var(--prefix-size))
}
p.NormalWeb {
    margin-top: 5pt;
    margin-bottom: 0;
    font-family: 'Verdana', 'sans-serif';
    font-size: 12pt;
    line-height: 108%;
    margin-left: 0;
    margin-right: 0
}
p.Title {
    margin-bottom: 0;
    text-align: center;
    font-family: 'Verdana', 'sans-serif';
    font-size: 28pt;
    line-height: 108%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0
}
body {
margin: 1cm auto; 
 max-width: 20cm; 
 padding: 0
}
span.hcp1 {
    font-family: 'Verdana', 'sans-serif';
    font-size: 11pt;
    font-style: normal;
    font-weight: bold;
    margin: 0;
    padding: 0
}
p.hcp2 {
    margin-top: 5pt;
    margin-bottom: 0;
    font-family: 'Verdana', 'sans-serif';
    font-size: 11pt;
    line-height: 108%;
    margin-left: 0;
    margin-right: 0
}
span.hcp3 {
    font-family: 'Verdana', 'sans-serif';
    font-size: 12pt;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0
}
span.hcp4 {
    font-family: 'Verdana', 'sans-serif';
    font-size: 11pt;
    font-style: normal;
    font-weight: bold;
    margin: 0;
    padding: 0
}
p.hcp6 {
    margin-top: 5pt;
    margin-bottom: 0;
    text-align: center;
    font-family: 'Verdana', 'sans-serif';
    font-size: 11pt;
    line-height: 108%;
    margin-left: 0;
    margin-right: 0
}
ol.List1 > li {
 position: relative
}
ol.List1 > li::before {
counter-increment: section11;
content:counter(section11,decimal)".";
--prefix-size: 40px;
--prefix-gap: 4px;
--list-indent: 40px;
--prefix-fixed-size: false;
text-align: right;
position: absolute;
left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
margin-right: var(--prefix-gap);
width: var(--prefix-size);
overflow: hidden
}
ol.List7 > li > ol {
counter-reset: section72;
--prefix-size: 40px;
--prefix-gap: 4px;
--list-indent: 40px;
--prefix-fixed-size: false;
list-style:none;
padding-left: var(--prefix-size);
margin-left: calc(var(--list-indent) - var(--prefix-size))
}
ol.List7 > li > ol > li {
 position: relative
}
ol.List7 > li > ol > li::before {
counter-increment: section72;
content:"."counter(section72,decimal);
--prefix-size: 40px;
--prefix-gap: 4px;
--list-indent: 40px;
--prefix-fixed-size: false;
text-align: right;
position: absolute;
left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
margin-right: var(--prefix-gap);
width: var(--prefix-size);
overflow: hidden
}
span { white-space: pre-wrap
}
ul.List0 > li {
 position: relative
}
ul.List0 > li > ul {
counter-reset: section02;
--prefix-size: 40px;
--prefix-gap: 4px;
--list-indent: 40px;
--prefix-fixed-size: false;
list-style:none;
padding-left: var(--prefix-size);
margin-left: calc(var(--list-indent) - var(--prefix-size))
}
ul.List0 > li > ul > li {
 position: relative
}
ul.List0 > li > ul > li::before {
counter-increment: section02;
content:counter(bullet,circle);
--prefix-size: 40px;
--prefix-gap: 4px;
--list-indent: 40px;
--prefix-fixed-size: false;
text-align: right;
position: absolute;
left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
margin-right: var(--prefix-gap);
width: var(--prefix-size);
overflow: hidden
}
ul.List0 > li::before {
counter-increment: section01;
content:counter(bullet,disc);
--prefix-size: 40px;
--prefix-gap: 4px;
--list-indent: 40px;
--prefix-fixed-size: false;
text-align: right;
position: absolute;
left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
margin-right: var(--prefix-gap);
width: var(--prefix-size);
overflow: hidden
}
ul.List12 > li {
 position: relative
}
ul.List12 > li::before {
counter-increment: section121;
content:counter(bullet,disc);
--prefix-size: 40px;
--prefix-gap: 4px;
--list-indent: 40px;
--prefix-fixed-size: false;
text-align: right;
position: absolute;
left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
margin-right: var(--prefix-gap);
width: var(--prefix-size);
overflow: hidden
}
ul.List13 > li {
 position: relative
}
ul.List13 > li::before {
counter-increment: section131;
content:counter(bullet,disc);
--prefix-size: 40px;
--prefix-gap: 4px;
--list-indent: 40px;
--prefix-fixed-size: false;
text-align: right;
position: absolute;
left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
margin-right: var(--prefix-gap);
width: var(--prefix-size);
overflow: hidden
}
ul.List6 > li > ul {
counter-reset: section62;
--prefix-size: 40px;
--prefix-gap: 4px;
--list-indent: 40px;
--prefix-fixed-size: false;
list-style:none;
padding-left: var(--prefix-size);
margin-left: calc(var(--list-indent) - var(--prefix-size))
}
ul.List6 > li > ul > li {
 position: relative
}
ul.List6 > li > ul > li::before {
counter-increment: section62;
content:counter(bullet,circle);
--prefix-size: 40px;
--prefix-gap: 4px;
--list-indent: 40px;
--prefix-fixed-size: false;
text-align: right;
position: absolute;
left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
margin-right: var(--prefix-gap);
width: var(--prefix-size);
overflow: hidden
}
ul.List8 > li {
 position: relative
}
ul.List8 > li::before {
counter-increment: section81;
content:counter(bullet,disc);
--prefix-size: 40px;
--prefix-gap: 4px;
--list-indent: 40px;
--prefix-fixed-size: false;
text-align: right;
position: absolute;
left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
margin-right: var(--prefix-gap);
width: var(--prefix-size);
overflow: hidden
}
ul.Disc {
    list-style-type: disc
}