# +-----------------------------------------------------+
# |                                                     |
# |                                                     |
# |   Do NOT make modifications without maintaining a   |
# |      backup copy.                                   |
# |                                                     |    
# +-----------------------------------------------------+

vmparam -Dpath.to.exe=bin/dwr_eppt64.exe
# Specify the Application's main class
mainclass dwr.eppt.run.Main

# +-----------------------------------------------------+
# |                                                     |
# | Specify the JVM.  If no JVM is specified then the   |
# | JVM configured in the Windows Registry is used      |
# |                                                     |
# +-----------------------------------------------------+
# to run the JVM with a DOS window uncomment and specify the path to java.exe

# to run a particular JVM without a DOS window uncomment and 
# specify the path to javaw.exe

javapath ./jre/bin/java

addjar ./bin/RunEppt.jar

#Need a space after last line
