.idea/*
.idea/**
/*/target/*
eppt-core/logs/callite-debug.log
eppt-ui/logs/callite-debug.log
eppt-trend-reporting/hs_err_pid36188.log
eppt-ui/logs/callite-debug.log
eppt-ui/logs/callite-debug.log
eppt-ui/logs/callite-debug.log
*.log
*.iml
