.idea/sonarlint/*
.idea/sonarlint.xml
.idea/sonarlint-state.xml
.idea/copyright/HEC.xml
.idea/workspace.xml
.idea/compiler.xml
.idea/misc.xml
/*/target/*
.idea/uiDesigner.xml
eppt-core/logs/callite-debug.log
eppt-ui/logs/callite-debug.log
eppt-trend-reporting/hs_err_pid36188.log
