1. Ability to query information based on nodes and arcs
	- flow / storage information for each node
	- table/graph display for requested information
2. Ability to query information based on groups of nodes/arcs
	- display results in a standard monthly table format
	- display results in a bar graph
	- save/load groups from text based descriptions
	- view/edit groups in a table
	- assign names to each group 
	- +,- operations between groups	
	- printing capability
4. Ability to organized collection of groups in a project. 
	- generate/print report quality tables from these groups
	- ability to add/remove groups from projects
	- ability to save/load projects from text based files
	- assign names to projects

3. Ability to view schematic and query it
	- calsim schematic based
	- ability to edit/create schematic 
	- ability to create/generate connectivity table
	- modes to query for
		- weights
		- data associated with symbols
		- tool tip showing name of each symbol 
	
5. Replacement for D-SIM-Menu
	- collect requirements from Tirath Sandhu, Sushil, Hamid
	- baseline to do as much as it and possibly more.

6. Operate in two modes
	- comparitive mode 
	- sensitivity analysis mode
	- absolute mode
