#configuration file for running script to download WDL data
#DSS file for output including folder
DSSPATH Y:/Observed Data/WDL/wdl.dss
#use this special format for starting date to download data
SDATE   1985-10-01 
EDATE   2013-10-01
#method for searching data
#if the method is stationid, then following stationid is a file which includes all stationids
#if the methid is county, then follwing county is a file which includes all counties in numbers
#to know the number for a county, goto wdl website, and find the location of a county in the county list
SEARCHBY county Y:/Observed Data/WDL/countynums.txt
#SEARCHBY map
#SEARCHBY stationid Y:/Observed Data/WDL/stationids.txt