##################################################################################
# Command line Example:
# C:\wrimsv2_SG\bin\runConfig_limitedXA.bat D:\example\EXISTING_BO.config
# 
# Note:
# 1. This config file and the RUN directory must be placed in the same directory.
# 2. Use relative path to increase the portability.
#    For example, use RUN\main.wresl for MainFile and DSS\INIT.dss for InitFile
##################################################################################


MainFile           D:\EPPT_script\WRESL_PP\\EPPT\WRESL_PP\mainControl.wresl
Solver             XA
DvarFile           D:\EPPT_script\WRESL_PP\\EPPT\WRESL_PP\DSS\dts_2070DEW_20170118_dp.dss
SvarFile           D:\EPPT_script\WRESL_PP\\EPPT\WRESL_PP\DSS\WSIP2070DEW_DVSV_20170118_dp.dss
GroundwaterDir     D:\EPPT_script\WRESL_PP\\
SvarAPart          CALSIM
SvarFPart          2020D09E
InitFile           D:\EPPT_script\WRESL_PP\\EPPT\WRESL_PP\DSS\WSIP2070DEW_DVSV_20170118_dp.dss
InitFPart          2020D09E
TimeStep           1MON
StartYear          1921
StartMonth         10
StartDay           31
StopYear           2003
StopMonth          9
StopDay            30
IlpLog             No
IlpLogFormat       None
IlpLogVarValue     No
IlpLogAllCycles    No
WreslPlus          no
AllowSvTsInit      no
DatabaseURL        none
SQLGroup           calsim
OVOption           0
OVFile             .
OutputCycleDatatoDss no
OutputAllCycleData no
SelectedCycleOutput '9,11,12,13'
