##################################################################################
# Command line Example:
# C:\wrimsv2_SG\bin\runConfig_limitedXA.bat D:\example\EXISTING_BO.config
#
# Note:
# 1. This config file and the RUN directory must be placed in the same directory.
# 2. Use relative path to increase the portability.
#    For example, use RUN\main.wresl for MainFile and DSS\INIT.dss for InitFile
##################################################################################

Begin Config


MainFile           "C:\Git\DWR-Enhanced-Post-Processing-Tool\eppt-core\table\mainControl.wresl"
Solver             CBC
DvarFile           "DTS2.dss"
SvarFile           "C:\Git\DWR-Enhanced-Post-Processing-Tool\eppt-core\target\test-classes\SampleDV_Base.dss"
SvarFile2          "C:\Git\DWR-Enhanced-Post-Processing-Tool\eppt-core\target\test-classes\SampleSV_Base.dss"
SvarAPart          CALSIM
SvarFPart          
InitFile           "C:\Git\DWR-Enhanced-Post-Processing-Tool\eppt-core\target\test-classes\SampleINIT_Base.dss"
InitFPart          
TimeStep           1MON
StartYear          1922
StartMonth         1
StartDay           3
StopYear           2000
StopMonth          1
StopDay            3
IlpLog             No
IlpLogFormat       None
IlpLogVarValue     No
IlpLogAllCycles    No
WreslPlus          yes
AllowSvTsInit      yes
DatabaseURL        none
SQLGroup           calsim
OVOption           0
OVFile             .

End Config

